.testme{
    width: 100px;
    background-color: gold;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    margin-left: 300px;
}

.green{
    background-color: green;
}